* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: #ffffff;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;      
}

.scrollbox {
  width: 66.6666vw;
  height: calc(100vh - 32px); 
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  position: relative;
}
.scroll-spacer {
  height: 0;
}

.viewport {
  position: sticky;
  top: 0;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
 
  padding-right: 12px;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  will-change: transform;
}

.cell {
aspect-ratio: 6 / 8;
 overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  object-position: center;
  display: block;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.cell:hover img {
  transform: scale(1.08); 
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); /* start transparent */
  transition: background-color 0.2s ease;
  pointer-events: none;
}

.cell:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* dim image only */
}

.title {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.cell:hover .title {
  opacity: 1;
}

.details{
    position: absolute;
    bottom: 0px;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.cell:hover .details {
  opacity: 1;
}

.col-0 .cell { background: #ff6b6b; }
.col-1 .cell { background: #ffd43b; color:#000; }
.col-2 .cell { background: #69db7c; color:#000; }
.col-3 .cell { background: #4dabf7; }
.col-4 .cell { background: #b197fc; }
.col-5 .cell { background: #ffa8a8; color:#000; }