* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: #ffffff;
  overflow: hidden;
  display: flex;
}


#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.pageRight {
 flex: 0 0 auto;   
  display: flex;
}

.pageLeft {
 flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 4.8vw;
  margin-bottom: 50px;
  padding-right: 50px;
}

.subCaps{
 font-family: "SurveyorReg", sans-serif;
 font-size: calc(18px + 0.2vw);
 color: #333134;
 margin-top: 10px;
 margin-bottom: 30px;
}

.homeLinks{
 font-family: "SurveyorLight", sans-serif;
 font-size: calc(24px + 0.3vw);
 color: #333134;
 text-decoration: underline;
 text-decoration-thickness: 1px;
 text-underline-offset: calc(10px + 0.1vw);
  text-decoration-color: #c4c0c7;
 margin-top: 6px;
 display: inline-block;  
 cursor: pointer;
 align-self: flex-start;
 width: fit-content;
}

.bottomLinksBox{
    margin-top: auto;
    display: flex;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap; 
}

.bottomLink{
 font-family: "SurveyorLight", sans-serif;
 font-size: calc(18px + 0.4vw);
 color: #333134;
 text-decoration: underline;
 text-decoration-thickness: 1px;
 text-underline-offset: 8px;
 text-decoration-color: #c4c0c7;
 cursor: pointer;
}

.creditText{
color: #7C7282;
font-weight: 600;
margin-top: 20px;
}


.ArtistName{
 font-family: "SurveyorReg", sans-serif;
 font-size: calc(45px + 3vw);

 line-height: 0.7;
font-weight: 100;
color: #333134;
}

.scrollbox {
 
  height: calc(100vh - 32px);
  margin: 16px 12px 16px 0; /* top right bottom left */
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
}

.scrollbox.small {
  width: 50vw;
  max-width: 50vw;
}

.scrollbox.large {
  width: 66.6666vw;
  max-width: 66.6666vw;
}


.scroll-spacer {
  height: 0;
}

.viewport {
  position: sticky;
  top: 0;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  padding-right: 0px;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  will-change: transform;
}

.sign{
    position: fixed;
    width: calc(100px + 20vw);
    top:0;
    left:0;
    opacity: 0.1;
    z-index: -1;
}

.cell {
aspect-ratio: 6 / 8;
 overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  object-position: center;
  display: block;
  transition: transform 0.2s ease;
  cursor: pointer;

    will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.cell:hover img {
  transform: scale(1.08); 
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); /* start transparent */
  transition: background-color 0.2s ease;
  pointer-events: none;
}

.cell:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* dim image only */
}

.title {
  margin-top: 20px;
  margin-left: 20px;
   margin-right: 20px;
  font-size: 30px;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  font-family: "SurveyorLight", sans-serif;
  font-weight: 100;
}

.cell:hover .title {
  opacity: 1;
}

.details{
    position: absolute;
    bottom: 0px;
    color: #ABABAB;
    margin-left: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 15px;
}

.cell:hover .details {
  opacity: 1;
}


@font-face {
  font-family: "SurveyorLight";
  src: url("/src/assets/fonts/SurveyorLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SurveyorReg";
  src: url("/src/assets/fonts/SurveyorReg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.col-0 .cell { background: #ff6b6b; }
.col-1 .cell { background: #ffd43b; color:#000; }
.col-2 .cell { background: #69db7c; color:#000; }
.col-3 .cell { background: #4dabf7; }
.col-4 .cell { background: #b197fc; }
.col-5 .cell { background: #ffa8a8; color:#000; }